<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="_WFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\inetpub\wwwroot\mcrecipegraph\venv\scripts\python.exe|c:\inetpub\wwwroot\mcrecipegraph\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <security>
    </security>
    <rewrite>
        <rules>
            <rule name="HTTP_to_HTTPS" stopProcessing="true">
                <match url="(.*)" />
                <conditions>
                    <add input="{HTTPS}" pattern="^OFF$" />
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
            </rule>
        </rules>
    </rewrite>
    <httpProtocol>
        <customHeaders>
            <add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://stackpath.bootstrapcdn.com/; script-src 'self' 'sha256-jZlsGVOhUAIcH+4PVs7QuGZkthRMgvT2n0ilH6/zTM0=';" />
            <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
            <add name="X-Frame-Options" value="SAMEORIGIN" />
            <add name="X-Content-Type-Options" value="nosniff" />
            <add name="Referrer-Policy" value="no-referrer" />
            <add name="Permissions-Policy" value="" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
<appSettings>
    <add key="WSGI_HANDLER" value="app.flask_app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\mcrecipegraph" />
  </appSettings>
</configuration>