<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="_WFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\inetpub\wwwroot\mcrecipegraph\venv\scripts\python.exe|c:\inetpub\wwwroot\mcrecipegraph\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
     <security>
    </security>
        <rewrite>
            <rules>
                <rule name="HTTP_to_HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
<appSettings>
    <add key="WSGI_HANDLER" value="app.flask_app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\mcrecipegraph" />
  </appSettings>
</configuration>